.cartitems {
  margin: 50px;
}

.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cartitems-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 35px;
  padding: 10px 0;
  color: #454545;
  font-size: 14px;
  font-weight: 600;
}

.cartitems-format {
  font-size: 16px;
  font-weight: 500;
}

.carticon-product-icon {
  height: 42px;
}

.cartitems-remove-icon {
  width: 15px;
  margin: 0px 20px;
  cursor: pointer;
}

.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}

.divcartitems-down {
  display: flex;
  margin: 50px 0;
}

.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  gap: 20px;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.cartitems-total button {
  width: 202px;
  height: 48px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.cartitems-promocode {
  font-size: 14px;
  font-weight: 500;
}

.cartitems-promocode p {
  color: #555;
}

.cartitems-promobox {
  margin-top: 15px;
  padding-left: 20px;
  height: 48px;
  background: #eaeaea;
}

.cartitems-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  width: 330px;
  height: 50px;
}

.cartitems-promobox button {
  width: 120px;
  height: 48px;
  font-size: 14px;
  background: black;
  color: white;
  cursor: pointer;
}
